*{
    font-family: 'Roboto', sans-serif;
}

.logo{
    text-decoration:none;
    color:cornflowerblue;
    font-weight: 700;
    font-size:xx-large;
    margin:0px;
    padding-right: 300px;
}

.link{
    text-decoration: none;
    color:darkgray;
    font-size: larger;
    padding:20px;
}

h1{
    font-size:50px;
}

.column{
    flex: 50%;
}

.blue{
    color:#184d8f;
}

td{
    
}

.over{
    position:absolute;
    border: 2px;
    border-radius: 2%;
    left:25%;
    box-shadow: 2px 2px 15px 3px #184d8f;
    border-color: #184d8f;
    background-color: #fff;
    opacity: 0.85;
    padding: 12px;
    width: fit-content;
}

.logo-vaccine{
    width: 300px;
    filter: grayscale(100%);
    opacity: 0.2;
    height: 78;
}

.vaccines{
    display:flex;
    align-items: center;    
    flex-grow: 1;
    margin-top: 12px;
    margin-bottom: 12px;
}

table {
  border-spacing: 50px 10px;
}

p{
    font-size: 24px;
}

p.description{
    flex:50%
}

p.align-center{
    text-align: center;
}

p.gray{
    color:gray;
}

svg.yellow{
    border-radius: 100%;
    box-shadow: 0px 2px 15px 1px goldenrod;
}

svg.blue{
    border-radius: 100%;
    box-shadow: 0px 2px 15px 1px #184d8f;
}

.container{
    display:flex;
}

header .container{
    margin-top:35px;
    margin-bottom: 35px;
    align-items: baseline;
}

main .container{
    position:relative;
}


.left{
    padding-left: 10%;
    margin-right:10%;
}

.derecha{
    right:0px; 
}

.imgcontainer{
  overflow: hidden;
  width: 200px;
  height: 100px;
  object-fit: fill;
}

.derecha img{
    position:absolute;
    padding-right: 0px;
    object-position: left -10%;
    right: 0%;
}

.yellow{
    color: goldenrod;
    
}

.button {
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    border-radius: 0.3em;
    color: #fff;
    opacity: 1;
}

.nowrap{
    
}


.triangle-down {
	width: 0;
	height: 0;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	border-top: 50px solid #999 ;
    opacity: 0.3;
    padding: -30px;
}