*{
    font-family: 'Roboto', sans-serif;
}

.logo{
    text-decoration:none;
    color:cornflowerblue;
    font-weight: 700;
    font-size:x-large;
    margin:0px;
    padding-right: 400px;
}

.link{
    text-decoration: none;
    color:darkgray;
    font-size: larger;
    padding:20px;
}

h1{
    font-size:50px;
    
}

.blue{
    color:#184d8f;
}

.over{
    position:absolute;
}

p{
    font-size: 24px;
}

p.description{

}

p.gray{
    color:gray;
}

.container{
    display:flex;
}

header .container{
    margin-top:35px;
    margin-bottom: 35px;
    align-items: baseline;
}

main .container{
    position:relative;
}


.izquierda{
    padding-left: 10%;
    margin-right:10%;
}

.derecha{
    right:0px; 
}

.imgcontainer{
  overflow: hidden;
  width: 200px;
  height: 100px;
  ;
}

.derecha img{
    position:absolute;
    padding-right: 0px;
    object-position: left -10%;
    right: 0%;
}

.yellow{
    color: goldenrod;
    
}

.button {
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    border-radius: 0.3em;
    color: #fff;
    height: 2.6em;
   }

.nowrap{
    
}


.triangle-down {
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-top: 50px solid #999 ;
}